   <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.first_name}}" placeholder="first_name" name="first_name" required>
            <label for="floatingInput">First Name</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="floatingInput" value="{{this.last_name}}" placeholder="last_name" name="last_name">
            <label for="floatingInput">Last Name</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput"  value="{{this.email}}" placeholder="eamil@123" name="email" required>
            <label for="floatingInput">Email</label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="phone" name="phone">
            <label for="floatingInput">Phone</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="floatingInput" placeholder="comments" name="comments"
                style="height:100px;">{{this.comments}}</textarea>
            <label for="floatingInput">Comments</label>
        </div>
    </div>
    <div class="col-md-12 d-gird">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>